<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="DeleteTxtFiles.contribution1">
         <menu
               label="Delete .txt files"
               path="additions"
               id="DeleteTxtFiles.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Delete files"
               class="deletetxtfiles.popup.actions.DeleteAction"
               menubarPath="DeleteTxtFiles.menu1/group1"
               enablesFor="1"
               id="DeleteTxtFiles.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
